## Data Collection

In this phase we will collect the customer ratings data from the airline quality website called Skytrax. We will collect data about airline ratings, seat ratings and lounge experience ratings from this website.

In [59]:
# Imports all the libraries

import os
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [3]:
# Create an empty list to collect all the reviews
reviews = []

# Create an empty list to collect all the rating stars
star = []

# Create an empty list to collect all the data
date = []

# Create an empty list to collect all the country reviewrs is from
country = []

In [27]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
page_size = 100

for i in range(1, 36):
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"
    page = requests.get(url)

    soup = BeautifulSoup(page.content, "html5")

    # Pharse content
    content = page.content
    parsed_content = BeautifulSoup(content, "html.parser")
    for para in parsed_content.find_all("div", {"class": "text_content"}):
        reviews.append(para.get_text())

    for item in soup.find_all("div", class_="rating-10"):
        try:
            star.append(item.span.text)
        except:
            print(f"Error in page {i}")
            star.append("None")

    # Date
    for item in soup.find_all("time"):
        date.append(item.text)

    # Country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error in page 32
Error in page 34
Error in page 34

In [38]:
# It shows how many reviews,star,date,country
print(len(reviews), len(star), len(date), len(country))

3500 3500 7000 7000

In [39]:
# Check the length of total review extracted
len(reviews)

3500

In [40]:
len(country)

7000

In [55]:
import pandas as pd

# Check if lengths of all lists are equal
if len(reviews) == len(star) == len(date) == len(country):
    # Create DataFrame
    df = pd.DataFrame(
        {"reviews": reviews, "star": star, "date": date, "country": country}
    )
else:
    # Determine the minimum length among all lists
    min_length = min(len(reviews), len(star), len(date), len(country))

    # Create DataFrame using only the first 'min_length' elements of each list
    df = pd.DataFrame(
        {
            "reviews": reviews[:min_length],
            "star": star[:min_length],
            "date": date[:min_length],
            "country": country[:min_length],
        }
    )
    print(
        "Warning: Lengths of lists are not equal. DataFrame created using only common elements."
    )

Warning: Lengths of lists are not equal. DataFrame created using only common elements.

In [56]:
df.head()

,reviews,star,date,country
0,✅ Trip Verified | Boarding was difficult caus...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,14th March 2024,Belgium
1,✅ Trip Verified | Boarding started with a del...,7,14th March 2024,Belgium
2,✅ Trip Verified | Absolutely horrible custome...,3,12th March 2024,Canada
3,Not Verified | BA is not what it used to be! ...,1,11th March 2024,Denmark
4,"✅ Trip Verified | BA First, it's not even the...",7,10th March 2024,United Kingdom

In [61]:
# To check the shape of the dataframe
df.shape

(3500, 4)

In [60]:
# Export data into csv formate

cwd = os.getcwd()
df.to_csv(cwd + "/BA_reviews.csv")