## Data Cleaning

Now,we have extract data from the websites, it is not cleaned and ready to analyzed the data for the cleaning process.

In [104]:
# Import all the library

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import re

In [105]:
# To read csv file and import in df
df = pd.read_csv(
    "/Users/sushant/Downloads/British-Airways-Review-Scrapper/Data Cleaning/Old_BA_reviews.csv"
)

In [106]:
# To check top 5 dataframe
df.head()

,Unnamed: 0,reviews,star,date,country
0,0,✅ Trip Verified | Boarding was difficult caus...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,14th March 2024,Belgium
1,1,✅ Trip Verified | Boarding started with a del...,7,14th March 2024,Belgium
2,2,✅ Trip Verified | Absolutely horrible custome...,3,12th March 2024,Canada
3,3,Not Verified | BA is not what it used to be! ...,1,11th March 2024,Denmark
4,4,"✅ Trip Verified | BA First, it's not even the...",7,10th March 2024,United Kingdom

In [107]:
# To check bottom 5 dataframe
df.tail()

,Unnamed: 0,reviews,star,date,country
3495,3495,LGW-MCO-SEA-LHR. Seats booked during Club Worl...,8,17th September 2014,United Kingdom
3496,3496,I have flown LHR-BKK many times with EVA Emira...,1,17th September 2014,South Africa
3497,3497,LHR-EDI Used Avios to make short break to Edin...,6,14th September 2014,United Kingdom
3498,3498,Flew VIE to LHR Club Europe fantastic crew loo...,8,14th September 2014,United Kingdom
3499,3499,First and last time flying with BA upgraded th...,7,14th September 2014,United Kingdom

In [108]:
# create a column which mention as Trip Verifed

df["verified"] = df.reviews.str.contains("✅ Trip Verified ")

In [109]:
df["verified"]

0        True
1        True
2        True
3       False
4        True
        ...
3495    False
3496    False
3497    False
3498    False
3499    False
Name: verified, Length: 3500, dtype: bool

**_Cleaning Reviews Columns_**

We can extract column of the reviews into sepereate dataframe and clear it for sementic analysis

In [110]:
# for lemmatization of words we will use nltk
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

nltk.download("stopwords")
nltk.download("wordnet")
nltk.download("omw-1.4")
lemma = WordNetLemmatizer()


rev_data = df.reviews.str.strip("✅ Trip Verified |")

# To create a empty list to collect cleaned data

corpus = []

# Loops through each reviews, remote punctuations, small case it, join it and add it to corpus
for rev in rev_data:
    rev = re.sub("[^a-z A-Z]", " ", rev)
    rev = rev.lower()
    rev = rev.split()
    rev = [
        lemma.lemmatize(word)
        for word in rev
        if word not in set(stopwords.words("english"))
    ]
    rev = " ".join(rev)
    corpus.append(rev)

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/sushant/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/sushant/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /Users/sushant/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [111]:
# Add corpus in original dataframe

df["corpus"] = corpus

In [112]:
# To check the top 5 rows in the dataframe

df.head(10)

,Unnamed: 0,reviews,star,date,country,verified,corpus
0,0,✅ Trip Verified | Boarding was difficult caus...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,14th March 2024,Belgium,True,boarding difficult caused vast majority passen...
1,1,✅ Trip Verified | Boarding started with a del...,7,14th March 2024,Belgium,True,boarding started delay minute everybody could ...
2,2,✅ Trip Verified | Absolutely horrible custome...,3,12th March 2024,Canada,True,absolutely horrible customer service never fly...
3,3,Not Verified | BA is not what it used to be! ...,1,11th March 2024,Denmark,False,verified ba used much like onboard crew check ...
4,4,"✅ Trip Verified | BA First, it's not even the...",7,10th March 2024,United Kingdom,True,ba first even best business class sky cabin lo...
5,5,✅ Trip Verified | The worst business class ex...,1,5th March 2024,Australia,True,worst business class experience ground crew si...
6,6,Not Verified | Quite possibly the worst busin...,3,4th March 2024,Canada,False,verified quite possibly worst business class e...
7,7,Not Verified | I will never be flying with BA...,1,4th March 2024,Singapore,False,verified never flying ba first last flying sin...
8,8,✅ Trip Verified | On the my trip to Mexico Ci...,1,4th March 2024,United Kingdom,True,trip mexico city opportunity experience ba lon...
9,9,✅ Trip Verified | I upgraded at check in to C...,3,2nd March 2024,United Kingdom,True,upgraded check club europe seat excellent expe...

In [113]:
# To delete the usused column
df.drop("Unnamed: 0", axis=1, inplace=True)

In [114]:
# To check top 5 rows
df.head()

,reviews,star,date,country,verified,corpus
0,✅ Trip Verified | Boarding was difficult caus...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,14th March 2024,Belgium,True,boarding difficult caused vast majority passen...
1,✅ Trip Verified | Boarding started with a del...,7,14th March 2024,Belgium,True,boarding started delay minute everybody could ...
2,✅ Trip Verified | Absolutely horrible custome...,3,12th March 2024,Canada,True,absolutely horrible customer service never fly...
3,Not Verified | BA is not what it used to be! ...,1,11th March 2024,Denmark,False,verified ba used much like onboard crew check ...
4,"✅ Trip Verified | BA First, it's not even the...",7,10th March 2024,United Kingdom,True,ba first even best business class sky cabin lo...

**_Cleaning the Format Date_**

In [115]:
df.dtypes

reviews     object
star        object
date        object
country     object
verified      bool
corpus      object
dtype: object

In [116]:
# Convert date to datetime formate

df.date = pd.to_datetime(df.date)

In [117]:
# To check the 5 rows in the dateframe
df.head()

,reviews,star,date,country,verified,corpus
0,✅ Trip Verified | Boarding was difficult caus...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,2024-03-14,Belgium,True,boarding difficult caused vast majority passen...
1,✅ Trip Verified | Boarding started with a del...,7,2024-03-14,Belgium,True,boarding started delay minute everybody could ...
2,✅ Trip Verified | Absolutely horrible custome...,3,2024-03-12,Canada,True,absolutely horrible customer service never fly...
3,Not Verified | BA is not what it used to be! ...,1,2024-03-11,Denmark,False,verified ba used much like onboard crew check ...
4,"✅ Trip Verified | BA First, it's not even the...",7,2024-03-10,United Kingdom,True,ba first even best business class sky cabin lo...

**_Cleaning the Rating with Star_**

In [118]:
# to check the unique value
df.star.unique()

array(['\n\t\t\t\t\t\t\t\t\t\t\t\t\t5', '7', '3', '1', '10', '2', '5',
       '8', '6', '9', '4', 'None'], dtype=object)

In [119]:
# TO remove the \n,\t in from the star

df.star = df.star.str.strip("\n\t\t\t\t\t\t\t\t\t\t\t\t\t")

In [120]:
# to check the rating with star
df.star.value_counts()

1       857
3       403
2       403
8       340
10      285
7       274
9       273
5       247
4       237
6       178
None      3
Name: star, dtype: int64

By using the value_count it show 3 value is "None" type. we will drop these 3 None value.

In [121]:
# Droping the None Value from the star rating

df.drop(df[df.star == "None"].index, axis=0, inplace=True)

In [122]:
# Check the unique value again

df.star.unique()

array(['5', '7', '3', '1', '10', '2', '8', '6', '9', '4'], dtype=object)

In [123]:
df.head()

,reviews,star,date,country,verified,corpus
0,✅ Trip Verified | Boarding was difficult caus...,5,2024-03-14,Belgium,True,boarding difficult caused vast majority passen...
1,✅ Trip Verified | Boarding started with a del...,7,2024-03-14,Belgium,True,boarding started delay minute everybody could ...
2,✅ Trip Verified | Absolutely horrible custome...,3,2024-03-12,Canada,True,absolutely horrible customer service never fly...
3,Not Verified | BA is not what it used to be! ...,1,2024-03-11,Denmark,False,verified ba used much like onboard crew check ...
4,"✅ Trip Verified | BA First, it's not even the...",7,2024-03-10,United Kingdom,True,ba first even best business class sky cabin lo...

**_Checking the Null Values_**

In [124]:
# Checking the null value in the dataframe

df.isnull().value_counts()

reviews  star   date   country  verified  corpus
False    False  False  False    False     False     3495
                       True     False     False        2
dtype: int64

In [125]:
# Checking the null value in the specific column of dataframe
df.country.isnull().value_counts()

False    3495
True        2
Name: country, dtype: int64

We can see the 2 value is missing in the country column.For this we can just remove those two reviews (rows) from the dataframe.

In [126]:
# Drop the rows using index where the country value is null
df.drop(df[df.country.isnull() == True].index, axis=0, inplace=True)

In [127]:
# Checking the null value in the dataframe

df.isnull().value_counts()

reviews  star   date   country  verified  corpus
False    False  False  False    False     False     3495
dtype: int64

In [128]:
df.shape

(3495, 6)

In [129]:
# Resetting the index
df.reset_index(drop=True)

,reviews,star,date,country,verified,corpus
0,✅ Trip Verified | Boarding was difficult caus...,5,2024-03-14,Belgium,True,boarding difficult caused vast majority passen...
1,✅ Trip Verified | Boarding started with a del...,7,2024-03-14,Belgium,True,boarding started delay minute everybody could ...
2,✅ Trip Verified | Absolutely horrible custome...,3,2024-03-12,Canada,True,absolutely horrible customer service never fly...
3,Not Verified | BA is not what it used to be! ...,1,2024-03-11,Denmark,False,verified ba used much like onboard crew check ...
4,"✅ Trip Verified | BA First, it's not even the...",7,2024-03-10,United Kingdom,True,ba first even best business class sky cabin lo...
...,...,...,...,...,...,...
3490,LGW-MCO-SEA-LHR. Seats booked during Club Worl...,8,2014-09-17,United Kingdom,False,lgw mco sea lhr seat booked club world sale wi...
3491,I have flown LHR-BKK many times with EVA Emira...,1,2014-09-17,South Africa,False,flown lhr bkk many time eva emirate oman qatar...
3492,LHR-EDI Used Avios to make short break to Edin...,6,2014-09-14,United Kingdom,False,lhr edi used avios make short break edinburgh ...
3493,Flew VIE to LHR Club Europe fantastic crew loo...,8,2014-09-14,United Kingdom,False,flew vie lhr club europe fantastic crew lookin...
3494,First and last time flying with BA upgraded th...,7,2014-09-14,United Kingdom,False,first last time flying ba upgraded u premium e...

Now the data is cleaned we can perform data visualization and data analysis.

In [130]:
# export the cleaned data
cwd = os.getcwd()
df.to_csv(cwd + "/cleaned-BA-reviews.csv")